@model SitesViewModel
@{ 
    Layout = "_Layout";
}
<div class="wrapper">
    <div class="content">
        <h1>
            Список сайтов
        </h1>
        <h4 style="color: #6053ff;">
            Пользователь: @Model.UserName
        </h4>
        <div class="row">
            <div class="col-4 user">
            </div>
            <div class="col-8">
                <a asp-action="AddSite" asp-controller="Sites" class="float-right btn btn-primary">Добавить</a>
            </div>
        </div>
        <table class="table table-bordered">
            <th>#</th>
            <th>Сайт</th>
            <th>Задержка (сек)</th>
            <th>Доступность</th>
            <th>История</th>
            <tbody class="table">
                @for (var i = 0; i < Model.Sites.Count; i++)
                {
                    <tr>
                        <td>@i</td>
                        <td>@Model.Sites[i].SiteLink</td>
                        <td>@Model.Sites[i].SecondCount</td>
                        @if (Model.Sites[i].IsAvailable)
                        {
                            <td style="color: #5eff2d;font-weight: 700;">Доступен</td>
                        }
                        else
                        {
                            <td style="color: #ff0000;font-weight: 700;">Недоступен</td>
                        }
                        <td>
                            <a asp-action="Index" asp-controller="History" asp-route-siteId="@Model.Sites[i].Id">Посмотреть</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/ReloadInfo")
        .build();


    hubConnection.on("Reload", function (data) {
       

        console.log(data)

    });

    hubConnection.start().then(() => {
        hubConnection.invoke("Reload", @Model.UserName).catch(function (err) {
            return console.error(err.toString());
        });
    })
</script>